table {
    font-size: x-large;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid black; 
    text-align: center;       
}​	
table, td {
    border: 1px solid black;
    font-size: x-large;
    padding: 5px;
    text-align: center;
    width: 40%;
}
.welcome_box {
    text-align: center;
    font-size: large;
    display: block;
    margin: 0 auto;
    width: 50%;
    border: 3px dotted orange;
}
.view_box {
    text-align: center;
    display: block;
    margin: 0 auto;
    border: 3px dotted rosybrown;
    padding: 5px;
}
.home_box, .tag_box {
    margin: 0 auto;
    text-align: center;
    font-size: x-large;
    border: 3px dotted teal;
    width: 10%;
    display: inline-block;
    padding: 5px;
}
input {
    font-size: x-large;
    padding: 5px;
    text-align: center;
    width: 40%;
    height: 7%;
}
.add_friend_box, .remove_friend_box {
    text-align: center;
    display: inline-block;
    font-size: x-large;
    width: 9%;
    border: 3px dotted green;
}
.create_friendgroup {
    text-align: center;
    display: block;
    font-size: x-large;
    width: 80%;
    margin: 0 auto;
    border: 3px dotted violet;
}