.login_box, .register_box{
    text-align: center;
    display: inline-block;
    font-size: x-large;
    margin: 0 auto;
    border: 3px dotted green;
    padding: 5px;
    width: 7%;
}
.info_box {
    text-align: center;
    border: 3px dotted green;
    font-size: x-large;
    padding: 5px;
}
.welcome_box {
    text-align: center;
    font-size: large;
    display: block;
    margin: 0 auto;
    width: 50%;
    border: 3px dotted orange;
}
.team_box {
    text-align: center;
    font-size: x-large;
    float: right;
    width: 20%;
    border: 3px dotted olive;
    padding: 2px;
}
table {
    font-size: x-large;
    display: inline-block;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid black;
}
td {
    border: 1px solid black;
    padding: 10px;
}