.welcome_box {
    text-align: center;
    font-size: large;
    display: block;
    margin: 0 auto;
    width: 50%;
    border: 3px dotted orange;
}
.home_box {
    margin: 0 auto;
    text-align: center;
    border: 3px dotted lightcoral;
    width: 10%;
    display: inline-block;
    padding: 5px;
    font-size: x-large;
}
.tag_box {
    margin: 0 auto;
    text-align: center;
    font-size: x-large;
    border: 3px dotted teal;
    width: 10%;
    display: inline-block;
    padding: 5px;
}
.rating_box {
    margin: 0 auto;
    text-align: center;
    font-size: x-large;
    border: 3px dotted burlywood;
    width: 10%;
    display: inline-block;
    padding: 5px;
}
.friendgroup_box {
    margin: 0 auto;
    text-align: center;
    font-size: x-large;
    border: 3px dotted red;
    width: 10%;
    display: inline-block;
    padding: 5px;
}
input {
    width: 40%; 
    height: 9%;
    font-size: 25px;
    display: inline-block;
    margin: 0 auto;
}