.back_button {
    text-align: center;
    display: inline-block;
    font-size: x-large;
    margin: 0 auto;
    border: 3px dotted rosybrown;
    padding: 5px;
    width: 7%;
}
.signup_box {
    text-align: center;
    display: block;
    width: 80%;
    margin: 0 auto;
    border: 3px dotted pink;
    font-size: x-large;
    padding: 5px;
}
input {
    width: 40%; 
    height: 9%;
    font-size: 25px;
    display: inline-block;
    margin: 0 auto;
}