<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='about.css')}}" >

<html>
    <head> 
    </head>
    <body>
    <div class="view_box">
            <h3>Chosen post:</h3>

            <table>
                <th>item_id</th>
                <th>email</th>
                <th>post time</th>
                <th>file path</th>
                <th>item name</th>
    
                {% for line in post %}
                    <tr>
                        <td>{{line.item_id}}</td>
                        <td>{{line.email_post}}</td>
                        <td>{{line.post_time}}</td>
                        <td>{{line.file_path}}</td>
                        <td>{{line.item_name}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <br>
        <div class="post_box">
            <form action="/add_comments" method="POST">
                <h3>Add a comment</h3>
                <div class="post_field">
                    <input type="text" name = "comment" placeholder="Write a comment..." required/> <br>
                    <input type="hidden" name="item_id" value = "{{item}}">
                    <input type="submit" value = Post />
                </div>
            </form>
        </div>

        <br>
        <div class="view_box">
            <h3>Comments:</h3>

            <table>
                <th>first name</th>
                <th>last name</th>
                <th>post time</th>
                <th>comment</th>
    
                {% for line in comments %}
                    <tr>
                        <td>{{line.fname}}</td>
                        <td>{{line.lname}}</td>
                        <td>{{line.comment_time}}</td>
                        <td>{{line.comment}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <br>
        <div class="back_box">
            <a href="/home">Back to Home</a>
        </div>

    </body>
</html>