<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='add_friend.css')}}" >

<html>
	<head> 
	</head>
	<body>
		<div class="welcome_box">
			<h1>Welcome {{fname}}</h1>
		</div>
		<br>
        <div class="view_box">
			<h3>Select one of your groups to add a friend:</h3>
        </div>
        <br>
		<div class="post_box">
			<form action="/add_friend_post" method="POST">
                <h3>Add a friend to your group</h3>
                    {% for line in groups %}
                        <div class="post_field">
                            Name: {{line.fg_name}} 
                            <input type="radio" name="fg_name" value = "{{line.fg_name}}" required/>
                        </div>
                    {% endfor %}
                    <br>
                    <br>
                    <div class="info_field">
                        <input type="text" name = "fname" placeholder="First Name" required/> <br>
                        <input type="text" name = "lname" placeholder="Last Name" required/> <br>
                        <input type="submit" value = Post />
                    </div>
                    {% if error %}
                        <p class="error"><strong>Error:</strong> {{error}}</p>
                    {% endif %}
			</form>
		</div>

		<br>
		<br>
		<div class="tag_box">
			<a href="/tag">Manage my Tags</a>
		</div>
		<div class="friendgroup_box">
			<a href="/friendgroup">Manage my Friendgroups</a>
        </div>
        <div class="home_box">
            <a href="/home">Go Home</a>
        </div>
	</body>
</html>
