<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='friendgroup.css')}}" >
<html>
	<head> 
	</head>
	<body>
		<div class="welcome_box">
			<h1>Welcome {{fname}}</h1>
        </div>
        <br>
        <div class="add_friend_box">
			<a href="/add_friend">Add a friend to a Friendgroup</a>
		</div>
        <div class="remove_friend_box">
			<a href="/remove_friend">Remove a friend from a Friendgroup</a>
        </div>
        <br>
        <div class="create_friendgroup">
            <form action="/create_friendgroup" method="POST">
				<h3>Create a Friendgroup</h3>
					<input type="text" name = "name" placeholder="group name" required/> <br>
					<input type="text" name = "description" placeholder="group description" required/> <br>
					<input type="submit" value = Post />
			</form>
        </div>
		<br>

		<div class="view_box">
			<h3>Here are your friendgroups:</h3>

			<table>
				<th>Name</th>
				<th>Owner</th>
				<th>Description</th>
	
				{% for line in groups %}
					<tr>
						<td>{{line.fg_name}}</td>
						<td>{{line.owner_email}}</td>
						<td>{{line.description}}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
		<br>
		<div class="home_box">
			<a href="/home">Go back Home</a>
		</div>
		<div class="tag_box">
			<a href="/tag">Manage my Tags</a>
		</div>
	</body>
</html>
