<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='home.css')}}" >

<html>
	<head> 
	</head>
	<body class="margin-page">
		<div class="logout_box">
			<a href="/logout">Logout</a>
		</div>
		<div class="welcome_box">
			<h1>Welcome {{fname}}</h1>
		</div>

		<br> 
		{% if error %}
           <p class="error"><strong>Error:</strong> {{error}}</p>
        {% endif %}
		<br>

		<div class="post_box">
			<form action="/post" method="POST">
				<h3>Make a Post</h3>
				<div class="post_field">
					<input type="text" name = "file_path" placeholder="file path" required/> <br>
					<input type="text" name = "item_name" placeholder="item name" required/> <br>
					<select name = "priOrPub">
						<option value="public">Public</option>
						<option value="private">Private</option>
					  </select>
					<input type="submit" value = Post />
				</div>
			</form>
		</div>

		<br>

		<div class="view_box">
			<h3>Here are your posts:</h3>

			<div class="table">
                <div class="tr">
                    <div class="td">item_id</div>
                    <div class="td">email</div>
                    <div class="td">post time</div>
                    <div class="td">file path</div>
                    <div class="td">item name</div>
                </div>

                {% for line in posts %}
                    <div class="tr">
						<form action="/pdf_detail" method="POST">
							<input type="hidden" name="item_id" value="{{line.item_id}}" />
							<div class="td">
								<input type="submit" value="{{line.item_id}}"/>
							</div>
						</form>
                        
                        <div class="td">{{line.email_post}}</div>
                        <div class="td">{{line.post_time}}</div>
                        <div class="td">{{line.file_path}}</div>
                        <div class="td">{{line.item_name}}</div>
						<form action="/view_tags" method="POST">
							<input type="hidden" name="item_id" value="{{line.item_id}}">
							<div class="td">
								<input type="submit" value = "view tags" />
              				</div>
            			</form>
						<form action="/rating_select" method="POST">
							<input type="hidden" name="item_id" value="{{line.item_id}}">
							<div class="td">
								<input type="submit" value = "view ratings" />
							</div>
						</form>
                    </div>
                {% endfor %}
            </div>
		</div>
		<br>
		<div class="tag_box">
			<a href="/tag">Manage my Tags</a>
		</div>
		<div class="friendgroup_box">
			<a href="/friendgroup">Manage my Friendgroups</a>
		</div>
		<div class="rating_box">
			<a href="/rating">Manage my Ratings</a>
		</div>
	</body>
</html>
