<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='index.css')}}" >
<!DOCTYPE html>
<html>
    <head>
    </head>

    <body>
        <div class="team_box">
            <h4>Proudly created by Sofiia Barysheva, Max Kim, Yu Zhang</h4>
        </div>

        <div class="welcome_box">
			<h1>Welcome to PriCoSha</h1>
        </div>

        <div class="login_box">
            <a href="/login">Login</a>
        </div>
        <div class="register_box">
            <a href="/register">Register</a>
        </div>

        <br><br>

        <div class="info_box">
            <table>
                <th>item_id</th>
                <th>email</th>
                <th>post time</th>
                <th>file path</th>
                <th>item name</th>

            {% for line in posts %}
                <tr>
                    <td>{{line.item_id}}</td>
                    <td>{{line.email_post}}</td>
                    <td>{{line.post_time}}</td>
                    <td>{{line.file_path}}</td>
                    <td>{{line.item_name}}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </body>
</html>
