<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='login.css')}}" >

<html>
	<head>
	</head>
	<body>
		<div class="login_box">
			<form action="/loginAuth" method="POST">
				<input type="text" name = "email" placeholder="email" required/> </br>
				<input type="password" name = "password" placeholder="password" required/></br>
				<input type="submit" value = Login />
				{% if error %}
					<p class="error"><strong>Error:</strong> {{error}}</p>
				{% endif %}
			</form>
		</div>
		<br>
		<div class="back_button">
			<a href="/">Go back</a>
		</div>
	</body>
</html>
