<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='rating_add.css')}}" >
<html>
	<head>
	</head>
	<body>
        <div class="welcome_box">
            <h1>Welcome {{fname}}</h1>
        </div>

		<div class="add_rating_box">
            <form action="/rating_add_post" method="POST">
                
                <input type="text" name = "emoji" placeholder="emoji" required/> </br>
                <input type="hidden" name="item_id" value="{{item_id}}">
				<input type="submit" value = Submit />
				{% if error %}
					<p class="error"><strong>Error:</strong> {{error}}</p>
				{% endif %}
			</form>
		</div>
		<br>
		<div class="home_box">
            <a href="/home">Go back Home</a>
        </div>
        <div class="tag_box">
            <a href="/tag">Manage my Tags</a>
        </div>
        <div class="friendgroup_box">
            <a href="/friendgroup">Manage my Friendgroups</a>
        </div>
        <div class="rating_box">
                <a href="/rating">Manage my Ratings</a>
        </div>
	</body>
</html>
