<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='register.css')}}" >
<html>
	<head>
	</head>
	<body>
		<div class="signup_box">
			<form action="/registerAuth" method="POST">
				<div class="form_fields">
					<input type="text" name = "first_name" placeholder="First name" required/> </br>
					<input type="text" name = "last_name" placeholder="Last name" required/></br>
					<input type="text" name = "email" placeholder="email" required/> </br>
					<input type="password" name = "password" placeholder="password" required/></br>
					<input type="submit" value = Register />
					{% if error %}
						<p class="error"><strong>Error:</strong> {{error}}</p>
					{% endif %}
				</div>
			</form>
		</div>
		
		<br>

		<div class="back_button">
			<a href="/">Go back</a>
		</div>

	</body>


</html>
