<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='remove_friend.css')}}" >
<html>
	<head> 
	</head>
	<body>
		<div class="welcome_box">
			<h1>Welcome {{fname}}</h1>
        </div>
        
        <br>
        
        <div class="view_box">
			<h3>Select one of your groups to remove a friend:</h3>
        </div>

        <br>

		<div class="post_box">
			<form action="/remove_friend_post" method="POST">
                <h3>Select a group</h3>
                    {% for line in groups %}
                        <div class="post_field">
                            Name: {{line.fg_name}} 
                            <input type="radio" name="fg_name" value = "{{line.fg_name}}" required/>
                        </div>
                    {% endfor %}
                    <br>
                    <input type="submit" value = Select />
			</form>
		</div>

		<br>
		<br>
		<div class="tag_box">
			<a href="/tag">Manage my Tags</a>
		</div>
		<div class="friendgroup_box">
			<a href="/friendgroup">Manage my Friendgroups</a>
        </div>
        <div class="home_box">
            <a href="/home">Go Home</a>
        </div>
	</body>
</html>
