<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='tag.css')}}" >

<html>
    <head>
    </head>
    <body>
        <div class="welcome_box">
            <h1>Welcome {{fname}}</h1>
        </div>
        <br>

        <div class="view_box">
            <h3>Here are your Tags currently waiting for approval:</h3>
        
            <div class="table">
                <div class="tr">
                    <div class="td">email of tagger</div>
                    <div class="td">item id</div>
                    <div class="td">tagged time</div>
                </div>

                {% for line in tags %}
                    <div class="tr">
                        <div class="td">{{line.email_tagger}}</div>
                        <div class="td">{{line.item_id}}</div>
                        <div class="td">{{line.tagtime}}</div>
                        <form action="/edit_tag" method="POST">
                            <input type="hidden" name="email_tagger" value="{{line.email_tagger}}">
                            <input type="hidden" name="item_id" value="{{line.item_id}}">
                            <div class="td"><input type="radio" name="new_status" value = "approve" required/>Approve</div>
                            <div class="td"><input type="radio" name="new_status" value = "decline"/>Decline</div>
                            <div class="td"><input type="submit" value = Submit /></div>
                        </form>
                    </div>
                {% endfor %}
            </div>
        </div>
        <br>
        <div class="back_box">
            <a href="/home">Back to Home</a>
        </div>
    </body>
</html>