<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='view_tags.css')}}" >

<html>
    <head>
    </head>
    <body>
        <div class="welcome_box">
            <h1>item_id:{{item_id}} tags</h1>
        </div>

        <br>

        <div class="post_box">
            <form action="/tag_user" method="POST">
                <h3>Tag a user</h3>
                <div class="post_field">
                    <input type="text" name = "tagged_email" placeholder="Enter a user email..." required/> 
                    <br>
                    <input type="hidden" name="item_id" value = "{{item_id}}"/>
                    <input type="submit" value = Tag />
                </div>
                {% if error %}
                    <p class="error"><strong>Error:</strong> {{error}}</p>
                {% endif %}
            </form>
        </div>
    <br>
    <div class="view_box">

        <h3>User Tags:</h3>

        <table>
            <th>tagged email</th>
            <th>tagger email</th>
            <th>tagged time</th>
    
            {% for line in tags %}
                <tr>
                    <td>{{line.email_tagged}}</td>
                    <td>{{line.email_tagger}}</td>
                    <td>{{line.tagtime}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <br>
    <div class="back_box">
        <a href="/home">Back to Home</a>
    </div>

    <br>
    </body>
</html>